.results {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 1em;
}

.no-result {
  margin: 3em 0;
  font-size: 0.8em;
  opacity: 0.7;
  text-align: center;
}
