.results {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
}

.no-result {
  color: rgb(43, 43, 43);
}

.no-result-text {
  color: var(--text-color-first);
  transition: 0.4s;
}