.search{
  background: var(--card-background-color);
  padding: 14px 22px;
  width: 100%;
  max-width: 500px;
  margin: auto;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  outline: none;
  box-shadow: -5px -5px 15px var(--card-shadow-color-top-left), 5px 5px 15px var(--card-shadow-color-bottom-right);
  border: none;
  font-weight: 500;
  border-radius: 6px;
  transition: 0.4s;
  cursor: pointer;
  box-sizing: border-box;
}

.search::placeholder{
  color: #aaa;
}

.search:hover{
  background: var(--search-hover-color);
}

.search:focus{
  box-shadow: -3px -3px 6px var(--card-shadow-color-top-left), 3px 3px 6px var(--card-shadow-color-bottom-right), 0 0 0 3px var(--border-color);
  border-color: transparent;
  cursor: text;
}
