@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;900&display=swap');

body{
  font-family: "Inter", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
  width: 100%;
  /* background-color: var(--light-background); */
}

#root{
  max-width: 1000px;
  width: auto;
  margin: auto;
  padding: 20px;
}

.theme-light
{
    /* --background-color: ; */
    /* --text-color-first: ; */
    /* --text-color-second: ; */
    /* --card-background-color: ; */
    /* --border-color: ; */
    --dark-text: #5E4B56;
    --accent: #dbe7e4;
    --button-border: #5E4B56;
    --dark-background: #DBE7E4;
    --light-text: #5E4B56;
    --light-background: #EDDCD2;
}
  
.theme-dark
{
    --dark-text: #292929;
    --dark-background: #2F4550;
    --light-background: #586F7C;
    --accent: #b8dbd9;
    --button-border: #b8dbd9;
    --light-text: #F9F8F8;
}